---
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import TeamList from '../../components/TeamList.vue';
export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { slug: project.data.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);

const teamMembers = await getCollection('team');
const projectMembers = teamMembers.filter(member =>
  project.data.memberSlugs.includes(member.data.slug)
);

console.log("there is ", projectMembers.length);
---

<Layout 
  title={project.data.title}
  description={project.data.description}
  image={project.data.featuredWideImage}
  article={true}
>
  <section class="page-title">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-8 col-md-12 col-sm-12 content-column" id="cstmmobiletitle">
          <div class="content-box clearfix">
            <div class="title pull-left">
              <h1>{project.data.shortname}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog-details sidebar-page-container">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="content-side">
          <div class="blog-details-content">
            <div class="news-block-three">
              <div class="inner-box">
                <figure class="image-box" id="cstm2">
                  {project.data.featuredWideImage ? (
                    <img 
                      src={project.data.featuredWideImage} 
                      alt={`${project.data.title} - Featured image`}
                      class="featured-image"
                    />
                  ) : (
                    <img src="/assets/images/news/news-7.jpg" alt="" />
                  )}
                </figure>
                <div class="lower-content">
                  <h3>{project.data.title}</h3>
                  <div class="text">
                    <Content />
                  </div>
                  {projectMembers.length > 0 && (
                      <h3 class="project-member-list-heading">Who's working on it?</h3>
                      <TeamList members={projectMembers}/>
                  )}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
