---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import TeamListHome from '../components/TeamListHome.vue';
import FaqAccordeon from '../components/FaqAccordeon.vue';
import { Image } from 'astro:assets';

const members = await getCollection('team', ({ data }) => {
  return data;
});

const sortedMembers = members
  .sort((a, b) => a.data.order - b.data.order)
  .slice(0, 4)
import * as page from '../content/index.md';
---

<Layout title="CyberspaceLab">
    <section class="banner-style-four" style={{ backgroundImage: `url("../assets/images/banner/banner.png")` }}>
        <div class="auto-container">
            <div class="row align-items-center clearfix">
                <div class="col-xl-6 col-lg-12 col-md-12 offset-xl-3 content-column">
                    <div class="content-box" style={{ textAlign: "center"}}>
                        <h2 style={{ textAlign: "center"}}>{page.frontmatter.subtitle}</h2>
                        <h1 style={{ textAlign: "center"}}>{page.frontmatter.title}</h1>
                        {page.frontmatter.institution.map(institution => 
                          <p style={{ textAlign: "center", marginTop: "2px", marginBottom: "20px"}}>{institution}</p>
                        )}
                        <a href="/project" style={{ textAlign: "center"}} class="main-button">Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-style-two">
        <div class="pattern-layer" style={{ backgroundImage: `url("../assets/images/shape/shape-6.png")`}}></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_05">
                        <div class="content-box">
                            <div class="sec-title left">
                                <h2>About Us</h2>
                                <span class="separator"></span>
                            </div>
                            <div class="text">
                                {page.frontmatter.description}
                            </div>
                            <div class="btn-box">
                                <a href="/about" class="theme-btn style-one">More About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 video-column">
                    <figure class="image-box">
                        <Image src={"/assets/images/pages/index/team2.jpg"} alt="" width={500} height={500}/> 
                    </figure>
                </div>
            </div>
        </div>
    </section>
    
    <TeamListHome data={sortedMembers}  />
    
    <section class="faq-section">
        <div class="pattern-layer" style={{backgroundImage: `url("/assets/images/shape/shape-8.png")`}}></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column faq-image">
                    <Image src={"/assets/images/pages/index/isometric.png"} alt="" width={500} height={500}/>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_06">
                        <div class="content-box">
                            <div class="sec-title left">
                                <h2>FAQ</h2>
                                <span class="separator"></span>
                                <FaqAccordeon arr={page.frontmatter.faq}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout> 